# For configuration options, see
#   https://grafana.com/docs/grafana/latest/administration/provisioning/#example-data-source-config-file
apiVersion: 1

datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: DS_PROMETHEUS_UID
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    jsonData:
      prometheusType: Prometheus
      allowAsRecordingRulesTarget: false
      tlsAuth: false
      tlsAuthWithCACert: false
